/cloud/target/
/mini-projet cloud/nbproject/
/mini-projet cloud/build.xml
/mini-projet cloud/manifest.mf
/mini-projet cloud/.metadata/
/RemoteSystemsTempFiles/


/.metadata/
*.class
*.project
.classpath
/myview/nbproject/private/