/cloud/target/
/mini-projet cloud/nbproject/
/mini-projet cloud/build.xml
/mini-projet cloud/manifest.mf
/mini-projet cloud/.metadata/
/RemoteSystemsTempFiles/
/mini-projet cloud/properties/open_nebula_ip

/.metadata/*
*.class
*.project
*.classpath
